

html {
	height: 800vh;
}

/*Float property*/
.img-float {
	width: 250px;
	height: 250px;
	/* values: inherit, left, right	*/
	float: left;
}

.parent-element {
	background-color: skyblue;
	padding: 10px;
	position: relative;
	height: 800vh;
}

.child-one {
	background-color: grey;
	padding: 10px;
}

.child-two {
	background-color: yellow;
	padding: 10px;
	
	/* position values = static, relative, absolute, fixed, sticky	*/
	position: sticky;
	top: 0;
}

.child-three {
	background-color: grey;
	padding: 10px;
}

.container {
	position: relative;
}

.black-box {
	position: relative;
	border: 2px solid black;
	height: 100px;
	margin: 30px;
	z-index: 1;
}

.grey-box {
	position: absolute;
	background-color: lightgrey;
	height: 60px;
	width: 70%;
	left: 50px;
	top: 50px;
	z-index: 2;
}

.green-box {
	position: absolute;
	background-color: lightgreen;
	height: 100px;
	width: 35%;
	left: 270px;
	top: -15px;
	z-index: 4;
}