
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#box1 {
  width: 50px;
  height: 50px;
  padding: 10px;
  border: 1px solid red;
  background-color: none;
  margin: 20px;
}

/* Style for #box2 */
#box2 {
  box-sizing: content-box;
  width: 140px;
  height: 140px;
  padding: 20px;
  border: 1px solid blue;
  background-color: none; 
  margin: 30px;
}
